<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        h2 Form Tambah Data
        form(action="/add", method="post")
            div
                label(for="buku_id") Kode
            div
                input(type="text" name="buku_id" size="10")
            div
                label(for="buku_judul") Judul
            div
                input(type="text" name="buku_judul" size="30")
            div
                label(for="buku_penulis") Penulis
            div
                input(type="text" name="buku_penulis" size="30")
            div
                label(for="buku_penerbit") Penerbit
            div
                input(type="text" name="buku_penerbit" size="30")
            div(style='margin-top:10px')
                input(type="submit", value="simpan")
                input(type="button", value="batal", onclick="javascript:history.go(-1)")
